html {
    overflow: hidden;
}
#chart {
    display: block;
    overflow-x: hidden;
    margin-left: calc(50% - 25vh);
    background-color: transparent;
    z-index: 2;
}
.chart {
    width: 50vh;
    height: 50vh;
}
footer {
    position: fixed;
    width: 100%;
    z-index: 1
}
footer img {
    display: block;
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
}
