/************ SETUP ************/
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round'), local('VarelaRound-Regular'), url(../assets/valeraround.ttf) format('truetype');
}
html {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #000000;
}

/************ HEADER ************/
.header {
    text-align: center;
}
.header .primary {
    font-size: 120px;
    height: 300px;

}
.header .secondary {
    font-size: 20px;
}
.header .stations {
    font-size: 17px;
    margin: 0 auto;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 0px;
    transition: max-height 0.2s ease-in-out;
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    -o-transition: max-height 0.2s ease-in-out;
}
.header .spacer {
    height: 20px;
}
#logo {
    width: 300px;
    height: 300px;
}

/************ INPUT ************/
section {
    text-align: center;
    margin-top: 30px;
}
section input {
    border: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 30px 0;
    width: 90%;
}
section input:focus {
    outline: none;
}
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
:-ms-input-placeholder {
   text-align: center;
}
.list {
    max-height: 0px;
    overflow: scroll;
    width: 80%;
    margin: 0 auto;
    transition: max-height 0.2s ease-in-out;
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    -o-transition: max-height 0.2s ease-in-out;
}
.list_item {
    cursor: pointer;
    margin: 2px 0;
    border-radius: 10px;
}
.success {
    background-color: rgb(76, 217, 100);
}
.failure {
    background-color: rgb(255, 45, 85);
}
.animate {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.expanded {
    max-height: 300px !important;
}

/************ QUEUE ************/
#queue_container {
    position: relative;
    margin-top: 30px;
}
.queue .one {
    font-size: 30px;
    margin: 6px auto;
}
.queue .two {
    font-size: 25px;
    margin: 5px auto;
}
.queue .three {
    font-size: 20px;
    margin: 4px auto;
}
.queue .four {
    font-size: 15px;
    margin: 3px auto;
}
.queue .five {
    font-size: 10px;
    margin: 2px auto;
}
.queue_item {
    width: 90%;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gradient {
    width: 100%;
    height: 100%;
    position: absolute;

    background: rgba(255,255,255,0.53);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.53)), color-stop(0%, rgba(255,255,255,0.53)), color-stop(1%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

/************ DIVIDER ************/
.divider {
    height: 1px;
    margin: 0 auto;
    background-color: rgb(142, 142, 147);
}
.small {
    width: 40px;
    background-color: black !important;
}
.large {
    width: 450px;
}