html {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}

body {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #000000;
}

.header {
    text-align: center;
}
.header .primary {
    font-size: 120px;
}
.header .secondary {
    font-size: 20px;
}
.stations {
    font-size: 17px;
}

section {
    text-align: center;
    margin-top: 30px;
}
section input {
    border: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 70px;
    text-align: center;
    margin-top: 30px 0;
    width: 90%;
}
section input:focus {
    outline: none;
}
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
:-ms-input-placeholder {
   text-align: center;
}

.queue {
}
.queue .one {
    font-size: 30px;
    margin: 6px auto;
}
.queue .two {
    font-size: 25px;
    margin: 5px auto;
}
.queue .three {
    font-size: 20px;
    margin: 4px auto;
}
.queue .four {
    font-size: 15px;
    margin: 3px auto;
}
.queue .five {
    font-size: 10px;
    margin: 2px auto;
}
.tr {
    width: 90%;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#queue_container {
    position: relative;
    margin-top: 30px;
}

.divider {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
}

.list {
    max-height: 0px;
    transition: max-height 0.2s ease-in-out;
    overflow: scroll;
    /*margin-top: 10px;*/
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 80%;
    margin: 0 auto;
}
.list_item {
    cursor: pointer;
    margin: 2px 0;
}
.stations {
    margin: 0 auto;
    width: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    max-height: 0px;
    transition: max-height 0.2s ease-in-out;
}
.expanded {
    max-height: 300px;
    transition: max-height 0.2s ease-in-out;
}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute;

    background: rgba(255,255,255,0.53);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.53)), color-stop(0%, rgba(255,255,255,0.53)), color-stop(1%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0.53) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
