html {
    overflow: hidden;
    background-color: #ECEFF1;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    overflow: hidden;
    position: relative;
}
#cover {
    height: 100vh;
    width: 100vw;
    background-color: #546E7A;
    color: white;
    position: fixed;
    z-index: 100;
    text-align: center;
}
#chart {
    display: block;
    overflow-x: hidden;
    margin-left: calc(50% - 25vh);
    background-color: transparent;
    z-index: 2;
}

#cover img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 50px auto;
}
.cover_text {
    margin: 0 auto;
}
.mobile_activate {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #546E7A;
    text-align: center;
    color: #ECEFF1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.1s linear;
}
.mobile_activate:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.menu_wrapper {
    position: absolute;
    width: 100%;
}
.position_left {
    -webkit-transform: translateX(-30%);
}
.position_right {
    -webkit-transform: translateX(30%);
}
.up_button {
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ECEFF1;
    background-color: #4CAF50;
}
.down_button {
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    line-height: 55px;
    color: #ECEFF1;
    background-color: #F44336;
}
.material_button {
    -webkit-transition: all 0.1s linear;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 50%;
    cursor: pointer;

    text-align: center;
}
.material_button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.chart {
    width: 50vh;
    height: 50vh;
}
footer {
    width: 100%;
    z-index: 1;
}
footer img {
    z-index: 1;
    display: block;
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
}
.info {
    width: 100%;
    height: 50px;
    text-align: center;
}
.info .songname {
    line-height: 50px;
    opacity: 0;
}